<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Document</title>
</head>
<body>
   
    <form action="/host/login" class="home" method="post" class="login">
    <div>
       <label for="">Email  </label> <input type="email" name="email" placeholder="email@gmail.com" value="">
       <label for="">password</label> <input type="password" name="password" placeholder="password" value="">
       <button>login</button>
       <input type="hidden" name="role" value="business">
    </div>
  </form>
  <form action="/host/signup" method="get">
    <button>Sign</button>
  </form>
 
</body>
</html>