<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./output.css">
    <title>Document</title>
</head>
<body class=" bg-blue-white ">
    <div class="bg-red-500 h-screen w-full items-center flex justify-center">
<div class=" bg-blue-whit justify-center items-center flex p-4 m-4 border border-black rounded-md bg-white" >
    <form action="/signup" method="post" class="bg-blue  flex flex-col justify-items-center text-black gap-8">
    <input type="text" name="username" placeholder="username" class="outline-1 rounded-md bg-white px-4 py-2"> 
     <input type="email" name="email" placeholder="email@gmail.com" class="outline-1 rounded-md bg-white px-4 py-2">  <input type="password" name="password" placeholder="password" class="outline-1 rounded-md bg-white px-4 py-2">
     <select name="role" id="role" 
     class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500">
<option value="user">User</option>
<option value="business">Business</option>
</select>
    <button class="border-green-500 border-2 bg-green-800 rounded-md px-4 py-2">Sign</button></form>
</div>
</div>
</body>
</html>