<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./output.css">
    <title>Document</title>
</head>
<body>
    <form action="/user/auth" method="post" class="bg-blue  flex flex-row justify-items-center text-black ">
    <input type="text" name="username" placeholder="username"> 
     <input type="email" name="email" placeholder="email@gmail.com">  <input type="password" name="password" placeholder="password">
    <button>Sign</button></form>
    <form action="/host/signup" method="get">
        <button>Businessaccount</button>
      </form>
</body>
</html>